<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        <script src="../Scripts/index.js"></script>
        <link rel="stylesheet" href="../Styles/main.css">
        <link rel="stylesheet" href="../Styles/">

        <title>Lab-17</title>
    </head>
<body>
    <a href="./index.html">
        <div class="back">
            <span>
                R e g r e s a r 
            </span>
        </div>
    </a>
    <img src="../Resources/table.jpg" class="table">
</body>
</html>