<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        <script src="../Scripts/index.js"></script>
        <link rel="stylesheet" href="../Styles/main.css">
        <link rel="stylesheet" href="../Styles/index.css">

        <title>Lab-17</title>
    </head>
    <body>
        <header>
            <div>
                <img src="../Resources/index/logo.png">
                <span>
                    Lab - 17
                </span>
            </div>
        </header>

        <div class="container">
            <a href="./ensayos a la llama.html">
                <div class="block block-color">
                    <h3>
                        Ensayos a la llama
                    </h3>
                    <img src="../Resources/index/ensayos a la llama.jpg">
                    <p>
                        Identifica las distintas caracteristicas de los compuestos al colocarlos a la llama
                    </p>
                </div>
            </a>
            <a href="./como funciona.html">
                <div class="block block-lab">
                    <h3>
                        ¿Cómo funciona el laboratorio virtual?
                    </h3>
                    <img src="../Resources/index/laboratorio.jpg">
                    <p>
                        Aprende de una manera visual como es que funcionan las herramientas del laboratorio
                    </p>
                </div>
            </a>
            <a href="./elementos quimicos.html">
                <div class="block block-color">
                    <h3>
                        Identificación de elementos químicos
                    </h3>
                    <img src="../Resources/index/identificacion de elementos.jpg">
                    <p>
                        Mediante pruebas fisicas y químicas comprueba los elementos muestra del laboratorio
                    </p>
                </div>
            </a>
        </div>
        <div class="container">
            <a href="./organicos e inorganicos.html">
                <div class="block block-color">
                    <h3>
                        Compuestos orgánicos e inorgánicos
                    </h3>
                    <img src="../Resources/index/organicos e inorganicos.jpg">
                    <p>
                        Mediante pruebas físicas y químicas diferencia los compuestos orgánicos de los inorgánicos
                    </p>
                </div>
            </a>
            <a href="./reacciones quimicas.html">
                <div class="block block-color">
                    <h3>
                        Reacciones químicas
                    </h3>
                    <img src="../Resources/index/reacciones quimicas.jpg">
                    <p>
                        Identifica como suceden las reacciones químimicas entre los compuestos
                    </p>
                </div>
            </a>
            <a href="./oxido de hierro.html">
                <div class="block block-color">
                    <h3>
                        Formación de óxido de hierro
                    </h3>
                    <img src="../Resources/index/oxidos.jpg">
                    <p>
                        Aprende como formar el compuesto de óxido de hierro
                    </p>
                </div>
            </a>
        </div>
    </body>
</html>