:root
{
    --letter-color: #101219;
    --background-color: #DDF2EB;
    --principal-color: #3A405A;
    --secondary-color: #5FC6BE;
    --low-color: #4F6D7A;
    --high-color: #C0D6DF;
}


body
{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--letter-color);
    background: var(--background-color);
    padding: 0.5%;
}

.back
{
    width: 90%;
    border-radius: 10px;
    margin-left: 5%;
    border: 5px var(--secondary-color);
    background: var(--secondary-color);
    padding: 1% 0 1% 0;
    color: var(--letter-color);
    transition: 0.5s;
}

.back:hover
{
    transform: scale(1.05);
    background: cornflowerblue;
}

a
{
    text-decoration: none;
    color: var(--letter-color);
}

.table
{
    position: absolute;
    margin-left: 4%;
    width: 90%;
}

.info
{
    width: 23.4%;
    height: 25%;
    position: absolute;
    margin-left: 66.59%;
    margin-top: 7.5%;
    background: burlywood;
    padding: 2%;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}